<h1>Lion 중화요리에 오신것을 환영합니다!!</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="category">카테고리 선택:</label>
        <select name="category">
          <option value="면류">면류</option>
          <option value="식사류">식사류</option>
          <option value="요리류">요리류</option>
        </select>
    </div>
    <div>
    <label for="name">음식이름:</label>
    <input type="text" name="name">
    </div>
    <div>
    <label for="price">가격:</label>
    <input type="text" name="price">
    </div>
    <div>
    <label for="description">소개:</label>
    <textarea name="description" rows="4" cols="50"></textarea>
    </div>
    <div>
        <label for="file">파일 업로드:</label>
        <input type="file" id="file" name="file">
    </div>
    <input type="submit" value="입력">
</form>

{# method의 get방식은 사용자가 입력한 정보가 url에 나타난다 #}
{# method의 method방식은 사용자가 입력한 정보가 url에 나타나지 않는다 #}
{# 즉 보안을 위한 방식이다. csrf_token을 써줘야한다. #}

